/*Кольори сторінки*/
:root{
--basic-color: #212121;
--sac-basic-color: #ffffff;
--another-color:#2196f3;
--subtitle-color:#757575;
--back-color: #2f303a;
--uknown-color: #ffffff99;
--back-batt-color: #188CE8;
--back-section-color: #F5F4FA;
}


/*Параметри які є у всіх об'єктах*/
body{
color: var(--basic-color);
font-family: 'Roboto', sans-serif;
background-color: var(--sac-basic-color);
}

/*Універсальні класси*/
/*hover focus*/
button:hover{
background: var(--another-color);
}
button:focus{
background: var(--another-color);
}
a:hover{
color: var(--another-color);
}
a:focus{
color: var(--another-color);
}
/*підкреслення*/
.line{
text-decoration: none;
color: var(--basic-color);
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
}
/*Параметри для заголовків 2рівня */
.title-second{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}
/*Курсор*/
.cursor{
cursor: pointer;
}
/*логотип*/
.logo{
width: 145px;
height: 31px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--another-color);
text-decoration: none;
}
/*всі маркери*/
.points{
list-style: none;
}


/*навігація шапки*/
.nav-first{
font-weight:500 ;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--basic-color);
}
.telmail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--subtitle-color);
}
.logo-leters{
color: var(--basic-color);
}


/*Hero*/
.hero-sect{
background-color: var(--back-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--sac-basic-color);
}
.title-hero{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--sac-basic-color);
}
.hero-button{ 
background-color: var(--back-batt-color);
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--sac-basic-color);
}

/*Наші особливості*/
.features{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.paragraph-features{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--subtitle-color);
}
/*не існуюючий заголовок*/
.defunct{
font-size: 0;
}

/*Чим ми займаємося
--
*/

/*Наша команда*/
.staff-paragraph{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}
.staff-profession{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--subtitle-color);
}
.team{
background-color: var(--back-section-color);
}
.team-list{
background-color: var(--sac-basic-color);
}

/*Підвал сторінки*/

.basement-hero{
background-color: var(--back-color);
}
.mail-tell-foot{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--uknown-color);
text-decoration: none;
font-style: normal;
}
.map{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--sac-basic-color);
text-decoration: none;
font-style: normal;
}
.two-logo-letters{
color:var(--sac-basic-color);
}
