
/*Параметри які є у всіх об'єктах*/
body{
font-family: 'Roboto';
font-style: normal;
color: black;
background-color: white;
}

/*Універсальні класси*/
/*hover focus*/
a:hover{
color:rgba(33, 150, 243, 1);
}
a:focus{
color:rgba(33, 150, 243, 1);
}
/*підкреслення*/
.line{
text-decoration: none;
color: black;
}
/*Курсор*/
.cursor{
cursor: pointer;
}
/*логотип*/
.logo{
width: 145px;
height: 31px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
text-decoration: none;
}
/*всі маркери*/
.points{
list-style: none;
}
.hero-title,.paragraph-hero{
background-color: #FFFFFF;
}


/*навігація шапки*/
.nav-first{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.telmail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.logo-leters{
color: #000000;;
}

/*Кнопки*/
.button-hero{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
}
button:hover{
background-color: #2196F3;
color: #FFFFFF;
}



.hero{
background-color: rgba(238, 238, 238, 1);
}

/*Підвал сторінки*/

.basement-hero{
background-color: #2F303A;;
}
.mail-tell-foot{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
font-style: normal;
}
.map{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
text-decoration: none;
font-style: normal;
}
.two-logo-letters{
color:#FFFFFF;
}
    